<div class="card">
    <div class="card-header">
      Find Max Price of an Item
    </div>  
    <div class="card-body">
      
      <form novalidate
        (ngSubmit)="getMaxPriceByName(name)"
        [formGroup]="findMaxPriceForm">
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label check-space"
                 for="itemNameId">Item Name
          </label>
          <div class="col-md-4">
            <input class="form-control"
                   id="itemNameId"
                   type="text"
                   placeholder="Enter Item name (required)"
                   formControlName="name"
                   [ngClass]="{'is-invalid': displayMessage.name }" />
                  <span class="invalid-feedback">
                    {{displayMessage.itemName}}
                  </span>                   
          </div>
          <div class=" col-md-4">
            <button class="btn btn-primary mr-3"
                    style="width:80px;"
                    type="submit"
                    [title]="findMaxPriceForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                    [disabled]="!findMaxPriceForm.valid"
                    >
              Search
            </button>
          </div>
        </div>
        <div *ngIf="maxCost>=0 && !errorMessage " class="form-group row mb-2">
          <label class="col-md-12 col-form-label check-space"
            for="itemNameId">Max Price of the Item is <span>{{maxCost | currency:"USD":"symbol":"1.2-2"}}</span>
          </label>          
        </div>
  
      </form>
    </div>
</div>

<div id="errorMessage" *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
 

  